h1{
    font-weight: 700;
}

.pre-footer{
    padding-top: 6rem;
}

.pre-footer .buttons-extendend{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

footer img.council-logo{
    max-height: 3rem;
    width: auto;
}
@media(min-width:48rem){
    footer img.council-logo{
        max-height: 5.2rem;
    }  
}

.council-logo-top{
    position: absolute;
    right: 1rem;
    bottom: 2rem;
}
@media(min-width:540px){
    .council-logo-top{
        right: 4rem;
        bottom: 5rem;
    }
}

.council-logo-top svg{
    max-height: 2.8rem;
    width: auto;
}
@media(min-width: 48rem){
    .council-logo-top svg{
        max-height: 3.9rem;
    } 
}

.how-it-works-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 80%;
    margin: 0 auto 4.5rem;
}
@media(min-width:48rem){
    .how-it-works-content{
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 7rem;
        max-width: 100%;
        margin: 0 auto 9rem;
    }
}

.how-it-works-content img{
    width: 100%;
    height: auto;
}

.how-it-works-content-steps{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: black;
}

.how-it-works-content-steps .title{
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    align-items: center;
    margin-bottom: 1.15rem;
    font-weight: 600;
}

.how-it-works-content-steps .description{
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);    
}

.background-grey-4#news-container{
    background-image: url('data:image/svg+xml,<svg width="536" height="1103" viewBox="0 0 536 1103" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M536 0C238.487 7.99838 0 251.847 0 551.189C0 850.532 238.487 1094.38 536 1102.38V922.28C338.049 914.358 180 751.246 180 551.189C180 351.133 338.049 188.021 536 180.099V0Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: top 200% right 0%;
}
@media(min-width:48rem){
    .background-grey-4#news-container{
        background-position: top 250% right -10%;
    }
}

.highlighted-card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}
@media(min-width:48rem){
    .highlighted-card-container{
        flex-direction: row;
        gap: 7rem;
    }
}

.highlighted-card{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
@media(min-width:48rem){
    .highlighted-card{
        gap: 2rem;
    }  
}

.highlighted-card h3{
    margin-bottom: 0;
    font-size: 2.2rem;
    color: var(--primary-color);
}
@media(min-width:48rem){
    .highlighted-card h3{
        font-size: 3rem;
    }
}

.layout-container > main{
    background-color: #f5f3f3;
}

.layout-container.page_home > main{
    background-color: white;
}

.news-page .results-rows{ 
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 90%;
    margin: auto auto;
}
@media(min-width:48rem){
    .news-page .results-rows{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:62rem){
    .news-page .results-rows{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pager__items{
    padding-inline-start: 0;
}

.social-networks{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    justify-content: center;
}

.responsive-table{
    overflow-x: auto;
}

.info-zone{
    text-align: center;
}

.info-zone a.btn.btn-white-custom{
    margin-top: 1.5rem;
    border-color: red;
    background-color: red;
}

.info-zone a.btn.btn-white-custom:hover{
    border: 2px solid red;
    background: white;
    color: red;
}

/* Maps */
.leaflet-popup-content-wrapper{
    padding: 0;
}

.leaflet-popup-content{
    margin: 0;
}

.leaflet-popup-content .close-button{
    display: none;
}

.leaflet-popup-content .shadow{
    -webkit-box-shadow: initial;
    box-shadow: initial;
}

.leaflet-popup-content .img-inside.icons-pop{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;   
}

.leaflet-popup-content .img-inside.icons-pop img{
    order: 1;
    margin-bottom: 0;
}

.leaflet-popup-content .img-inside.icons-pop p{
    margin: 0;
}

.leaflet-popup-content .img-inside.icons-pop p:not(.fwb.fs24){
    font-size: 1.6rem;
}

.leaflet-container a.leaflet-popup-close-button {
    top: 35px;
    right: 5px;
}

.bike-news > .results-rows{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
}
@media(min-width: 768px){
    .bike-news > .results-rows{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 1200px){
    .bike-news > .results-rows{
        grid-template-columns: repeat(3, 1fr);
    }
}

.news-page .results-rows{
    margin-bottom: 4.5rem;
}

.news-teaser{
    background-color: white;
    padding: 2.4rem;
    border-radius: 8px;
    height: 100%;
}

.news-teaser h2{
    margin-top: 0;
}

.news-teaser h2 a{
    font-weight: 700;
}

.news-teaser .news-teaser-text-body{
    margin-top: 0;
    font-size: 1.8rem;
    line-height: 1.5;
    color: black;
}
@media(min-width:48rem){
    .news-teaser .news-teaser-text-body{
        margin-top: 0.75rem;
    } 
}
.news-teaser .read-more{
    display: block;
    margin: 1.5rem 0;
}