.page_home .featured{
    background-color: var(--primary-color);
    color: white;
}
@media(min-width:768px){
    .page_home .featured{
        background-image: url('data:image/svg+xml,<svg width="240" height="151" viewBox="0 0 240 151" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.52588e-05 67.5214L1.52588e-05 149.89C2.9843 149.994 5.98173 150.047 8.99144 150.047C111.891 150.047 200.448 88.4058 239.61 0H144.758C113.776 41.1466 64.4937 67.7552 8.99144 67.7552C5.97528 67.7552 2.9775 67.6767 1.52588e-05 67.5214Z" fill="white"/></svg>');
        background-position: left top;
        background-repeat: no-repeat;
    }
    .page_home .featured h2{
        font-size: 3.6rem;
    }
}

.page_home .featured .featured-card-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 2.4rem 6rem;
}
@media(min-width:768px){
    .page_home .featured .featured-card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 0 8rem;
    }
}

.page_home .featured .featured-card{
    background-color: white;
    padding: 3.6rem 3.2rem;
    text-align: center;
    color: black;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.page_home .featured .featured-card h3{
    margin-top: 0;
    font-weight: 700;
    color: var(--primary-color);
}

.page_home .featured .featured-card .featured-card-link{
    color: var(--primary-color);
    display: block;
    font-weight: 600;
    margin-top: 2rem;
}
