:root{
  --primary-color: #FF6720;
  --secondary-color: #143325;
  --shadow-color: #434b54;
  --light-color: #5AD2B8;
  --body-background-color: #ffffff;
  --font-color: #143325;
  --font-family: 'DM Sans', sans-serif;
}

.mt0 {
  margin-top: 0!important;
}
.mb0 {
  margin-bottom: 0!important;
}

.js-form-type-checkbox .checkmark,
#modify-user-data-form input[type="checkbox"] ~ label.option:before,
.alta-form input[type="checkbox"] ~ label.option:before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 0;
  position: absolute;
  left: 15px;
  top: 5px;
}

.alta-form input[type="submit"],
.alta-form input[type="button"] {
  border-radius: 25px;
}
.alta-form input[name="prev-page"] {
  margin-bottom: 10px;
}

#modify-user-data-form input[type="checkbox"],
.alta-form input[type="checkbox"] {
  width: auto;
  visibility: hidden;
  position: absolute;
}
#modify-user-data-form .form-item.js-form-type-checkbox,
.alta-form .form-item.js-form-type-checkbox {
  margin-left: 24px;
}
#modify-user-data-form .pulsado label.option:after,
.alta-form .pulsado label.option:after {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 13px;
  height: 13px;
  background-color: var(--primary-color);
  z-index: 100;
}
.alta-form .show-password-alta {
  position: absolute;
  right: 20px!important;
  top: 40px!important;
}
.alta-form .cb-wrapper {
  position: relative;
  margin-bottom: 1rem;
}
.alta-form .errors.right-col {
  top: 25px;
  right: -270px;
  z-index: 100;
}
.alta-form .errors.left-col {
  top: 25px;
  right: -250px;
  z-index: 100;
}
#change-plan-form .err-validation {
  color: var(--primary-color);
  padding: 0 25px;
  margin: 5px 0;
}
#change-plan-form div[role="alert"] {
  display: none;
}
#change-plan-form #edit-password--description {
  text-align: center;
  padding: 10px;
}
.card-white {
  background-color: white;
  padding: 30px;
}
#change-plan-form #custom-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
#change-plan-form #custom-modal.show {
  z-index: 999;
}
#change-plan-form #custom-modal .js-form-type-password {
  padding: 15px;
  text-align: center;
}
#change-plan-form #custom-modal .js-form-type-password>div {
  margin-bottom: 20px;
}

#billing-address-container {
  display: none;
}
#billing-address-container.shown {
  display: block;
}
.card-tarifa {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 3.5rem;
}
h3.tarifa-title {
  margin-bottom: 4rem;
  text-align: center;
}
.tarifa-obj {
  height: 80px;
  background-color: #ababab;
  width: 120px;
  margin: 1rem auto 3rem;
}

.alta-form button.btn.btn-tarifa {
  width: 180px;
}

.alta-form button.btn.btn-tarifa:hover,
.alta-form button.btn.btn-tarifa.selected-fee {
  background: transparent!important;
  color: var(--primary-color);
  -webkit-box-shadow: inset 0px 0px 0px 10px var(--primary-color);
  -moz-box-shadow: inset 0px 0px 0px 10px var(--primary-color);
  box-shadow: inset 0px 0px 0px 2px var(--primary-color);
}
.tarifa-overlay {
  display: none;
}
.tarifa-overlay.shown {
  display: block;
}
fieldset#edit-product--wrapper {
  display: block;
  width: 100%;
}
.alta-form #edit-product {
  position: absolute;
  visibility: hidden;
}
.alta-form #edit-promo .tarifa-overlay {
  margin-top: 0;
}
.calculator-hr {
  border: 1px solid black;
}
.fixed-shadow {
  border-color: #fbfbfb;
  box-shadow: 10px 10px 19px -6px rgba(77,77,77,1);
}
.alta-form iframe {
  border: none;
  height: 540px;
}
.mxa,
.mla {
  margin-left: auto;
}
.mxa,
.mra {
  margin-right: auto;
}
.dib {
  display: inline-block;
}
.w25{
  width: 25%;
}
.w50{
  width: 50%;
}
.w75{
  width: 75%;
}
.w100{
  width: 100%;
}
.text-bold {
  font-weight: bold;
}
.fs-small {
  font-size: 1.5rem;
}
.password-strength {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  position: relative;
}
.password-strength .password-strength__meter {
  height: 1.4em;
}
.password-strength .password-strength__title {
  position: absolute;
  top: 0;
  left: 1rem;
}
.bicing-change-password-form .form-item-confirm-password-pass1 {
  margin-bottom: 3rem;
}
.bicing-change-password-form a.show-password {
  top: 40px;
}
#edit-confirm-password > label {
  display: none;
}

#edit-confirm-password .form-item-confirm-password-pass2 > div.password-confirm {
  display: none;
}
#edit-use-filter--wrapper legend {
  display: none;
}
#edit-use-filter > div {
  width: calc(33.33% - 20px);
  margin-right: 0;
}
#edit-history table {
  width: 100%;
}
#edit-history table td,
#edit-history table th {
  padding: 1rem 0;
  border: 1px solid #dae2df;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  width: 20%;
  position: relative;
}
#edit-history table a.ticket-button {
  position: absolute;
  right: 10px;
}
#edit-history table th {
  font-weight: 600;
}
#edit-history label[for="edit-history"] {
  display: none;
}
#edit-history table tr:first-of-type {
  border-radius: 1rem 1rem 0 0;
}
#edit-history table td.fb {
  font-weight: bold;
}
div[role="alert"] ul {
  display: inline-block;
  margin-bottom: 0;
}
@media(max-width: 800px) {
	#edit-use-filter > div {
		width: 100%;
		margin-right: 0px;
	}
}
#card-change-card iframe {
  border: 0;
  padding-top: 45px;
}
.error-register-form {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 5px 20px;
  text-align: center;
}
.error-register-form>ul {
  margin-bottom: 0;
  padding-left: 15%;
  text-align: left;
}
.error-register-form>span.suggestions,
.error-register-form>span.color-red {
  text-align: left;
  padding-inline-start: 10%;
}
.error-register-form.err {
  color: #721c24;
  border: 3px solid #f5c6cb;
  background-color: #f8d7da;
}
.error-register-form.ok {
   color: #155724;
   background-color: #d4edda;
   border:3px solid #c3e6cb;
}
.error-register-form span {
  display: block;
}
.alta-form #register-inputs #consent-zone-custom label:before,
.alta-form #register-inputs .checkmark {
  background-color: transparent;
}
.alta-form #register-inputs.disabled #consent-zone-custom label:before,
.alta-form #register-inputs.disabled .checkmark {
  background-color: unset!important;
}
.alta-form select:disabled,
.alta-form input:disabled {
  background-color: #ebebeb;
}
.alta-form #register-inputs #consent-zone-custom input:checked + label:before {
  background-color: var(--primary-color);
}
.js-form-type-checkbox .checkmark:after {
  left: 0!important;
  top: 0!important;
  width: 100%!important;
  height: 100%!important;
  border: none!important;
  transform: none!important;
  -webkit-transform: none!important;
}
.js-form-type-checkbox input:checked ~ .checkmark:after {
  display: block;
  background: var(--primary-color);
}
.avaries-form .js-form-type-checkbox label {
  padding-left: 30px!important;
}
.avaries-form  .js-form-type-checkbox .checkmark {
  left: 15px!important;
}
/*register lacaixa*/
#card-change-card {
  min-height: 600px;
  padding: 10px;
}
#card-change-card #targetIframe{
  position: absolute;
  z-index: 2;
  padding: 50px 0 0 0;
}
#card-change-card #paymentButton{
  display: none;
}
.alta-form iframe {
  background: #fff;
  top: 0;
  z-index: 2;
}
@media(max-width: 400px) {
  .alta-form input[name="prev-page"] {
    margin-bottom: 15px;
  }
}
#edit-use-filter .form-item-use-filter {
  text-align: left;
}

@media (min-width: 992px) {
  .ride-stats .centrar-col-lg {
    margin-left:4%;
  }
}
@media (min-width: 1100px) {
  .ride-stats .centrar-col-lg {
    margin-left:3%;
  }
}
@media (min-width: 1200px) {
  .ride-stats .centrar-col-lg {
    margin-left:2%;
  }
}
@media (min-width: 1600px) {
  .ride-stats .centrar-col-lg {
    margin-left:4%;
  }
}
form.avaries-form input[name="file_upload_upload_button"] {
  margin-top: 15px;
}
.card-tarifa.card-promo {
  box-shadow: 0 0 10px 2px #c5c5c5;
  padding-bottom: 5.3rem;
}
div#promo_code {
  display: flex;
  justify-content: space-around;
}
#promo_code .form-item-promotional-code-input {
  max-width: 66%;
}
#promo_code .btn.btn-promo {
  align-self: center;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 20px;
}
.error-msg-promo {
  text-align: center;
  max-width: 70%;
  margin-top: 20px;
  margin-bottom: -25px;
}
.mt0 {
  margin-top: 0!important;
}
.mb0 {
  margin-bottom: 0!important;
}
.js-form-type-checkbox .checkmark,
#modify-user-data-form input[type="checkbox"] ~ label.option:before,
.alta-form input[type="checkbox"] ~ label.option:before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid var(--primary-color);
  border-radius: 0;
  position: absolute;
  left: 15px;
  top: 5px;
}

.alta-form input[type="submit"],
.alta-form input[type="button"] {
  border-radius: 25px;
}
.alta-form input[name="prev-page"] {
  margin-bottom: 10px;
}
#modify-user-data-form input[type="checkbox"],
.alta-form input[type="checkbox"] {
  width: auto;
  visibility: hidden;
  position: absolute;
}
#modify-user-data-form .form-item.js-form-type-checkbox,
.alta-form .form-item.js-form-type-checkbox {
  margin-left: 24px;
}
#modify-user-data-form .pulsado label.option:after,
.alta-form .pulsado label.option:after {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 13px;
  height: 13px;
  background-color: var(--primary-color);
  z-index: 100;
}
.alta-form .show-password-alta {
  position: absolute;
  right: 20px!important;
  top: 40px!important;
}
.alta-form .cb-wrapper {
  position: relative;
  margin-bottom: 1rem;
}
.alta-form .errors.right-col {
  top: 25px;
  right: -270px;
  z-index: 100;
}
.alta-form .errors.left-col {
  top: 25px;
  right: -250px;
  z-index: 100;
}
#change-plan-form .err-validation {
  color: var(--primary-color);
  padding: 0 25px;
  margin: 5px 0;
}
#change-plan-form div[role="alert"] {
  display: none;
}
#change-plan-form #edit-password--description {
  text-align: center;
  padding: 10px;
}
.card-white {
  background-color: white;
  padding: 30px;
}
#change-plan-form #custom-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
#change-plan-form #custom-modal.show {
  z-index: 999;
}
#change-plan-form #custom-modal .js-form-type-password {
  padding: 15px;
  text-align: center;
}
#change-plan-form #custom-modal .js-form-type-password>div {
  margin-bottom: 20px;
}
#billing-address-container {
  display: none;
}
#billing-address-container.shown {
  display: block;
}
.card-tarifa {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 3.5rem;
}
h3.tarifa-title {
  margin-bottom: 4rem;
  text-align: center;
}
.tarifa-obj {
  height: 80px;
  background-color: #ababab;
  width: 120px;
  margin: 1rem auto 3rem;
}
.alta-form button.btn.btn-tarifa {
  width: 180px;
}
.alta-form button.btn.btn-tarifa:hover,
.alta-form button.btn.btn-tarifa.selected-fee {
  background: transparent!important;
  color: var(--primary-color);
  -webkit-box-shadow: inset 0px 0px 0px 10px var(--primary-color);
  -moz-box-shadow: inset 0px 0px 0px 10px var(--primary-color);
  box-shadow: inset 0px 0px 0px 2px var(--primary-color);
}
.tarifa-overlay {
  display: none;
}
.tarifa-overlay.shown {
  display: block;
}
fieldset#edit-product--wrapper {
  display: block;
  width: 100%;
}
.alta-form #edit-product {
  position: absolute;
  visibility: hidden;
}
.alta-form #edit-promo .tarifa-overlay {
  margin-top: 0;
}
.calculator-hr {
  border: 1px solid black;
}
.fixed-shadow {
  border-color: #fbfbfb;
  box-shadow: 10px 10px 19px -6px rgba(77,77,77,1);
}
.alta-form iframe {
  border: none;
  height: 540px;
}
.mxa,
.mla {
  margin-left: auto;
}
.mxa,
.mra {
  margin-right: auto;
}
.dib {
  display: inline-block;
}
.w25{
  width: 25%;
}
.w50{
  width: 50%;
}
.w75{
  width: 75%;
}
.w100{
  width: 100%;
}
.text-bold {
  font-weight: bold;
}
.fs-small {
  font-size: 1.5rem;
}
.password-strength {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  position: relative;
}
.password-strength .password-strength__meter {
  height: 1.4em;
}
.password-strength .password-strength__title {
  position: absolute;
  top: 0;
  left: 1rem;
}
.bicing-change-password-form .form-item-confirm-password-pass1 {
  margin-bottom: 3rem;
}
.bicing-change-password-form a.show-password {
  top: 40px;
}
#edit-confirm-password > label {
  display: none;
}
#edit-confirm-password .form-item-confirm-password-pass2 > div.password-confirm {
  display: none;
}
#edit-use-filter--wrapper legend {
  display: none;
}
#edit-use-filter > div {
  width: calc(33.33% - 20px);
  margin-right: 0;
}
#edit-history table {
  width: 100%;
}
#edit-history table td,
#edit-history table th {
  padding: 1rem 0;
  border: 1px solid #dae2df;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  width: 20%;
  position: relative;
}
#edit-history table a.ticket-button {
  position: absolute;
  right: 10px;
}
#edit-history table th {
  font-weight: 600;
}
#edit-history label[for="edit-history"] {
  display: none;
}
#edit-history table tr:first-of-type {
  border-radius: 1rem 1rem 0 0;
}
#edit-history table td.fb {
  font-weight: bold;
}
div[role="alert"] ul {
  display: inline-block;
  margin-bottom: 0;
}
@media(max-width: 800px) {
	#edit-use-filter > div {
		width: 100%;
		margin-right: 0px;
	}
}
#card-change-card iframe {
  border: 0;
  padding-top: 45px;
}
.error-register-form {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 5px 20px;
  text-align: center;
}
.error-register-form>ul {
  margin-bottom: 0;
  padding-left: 15%;
  text-align: left;
}
.error-register-form>span.suggestions,
.error-register-form>span.color-red {
  text-align: left;
  padding-inline-start: 10%;
}
.error-register-form.err {
  color: #721c24;
  border: 3px solid #f5c6cb;
  background-color: #f8d7da;
}
.error-register-form.ok {
   color: #155724;
   background-color: #d4edda;
   border:3px solid #c3e6cb;
}
.error-register-form span {
  display: block;
}
.alta-form #register-inputs #consent-zone-custom label:before,
.alta-form #register-inputs .checkmark {
  background-color: transparent;
}
.alta-form #register-inputs.disabled #consent-zone-custom label:before,
.alta-form #register-inputs.disabled .checkmark {
  background-color: unset!important;
}
.alta-form select:disabled,
.alta-form input:disabled {
  background-color: #ebebeb;
}
.alta-form #register-inputs #consent-zone-custom input:checked + label:before {
  background-color: var(--primary-color);
}
.js-form-type-checkbox .checkmark:after {
  left: 0!important;
  top: 0!important;
  width: 100%!important;
  height: 100%!important;
  border: none!important;
  transform: none!important;
  -webkit-transform: none!important;
}
.js-form-type-checkbox input:checked ~ .checkmark:after {
  display: block;
  background: var(--primary-color);
}
.avaries-form .js-form-type-checkbox label {
  padding-left: 30px!important;
}
.avaries-form  .js-form-type-checkbox .checkmark {
  left: 15px!important;
}
/*register lacaixa*/
#card-change-card {
  min-height: 600px;
  padding: 10px;
}
#card-change-card #targetIframe{
  position: absolute;
  z-index: 2;
  padding: 50px 0 0 0;
}
#card-change-card #paymentButton{
  display: none;
}
.alta-form iframe {
  /* position: absolute; */
  background: #fff;
  top: 0;
  z-index: 2;
}
@media(max-width: 400px) {
  .alta-form input[name="prev-page"] {
    margin-bottom: 15px;
  }
}
#edit-use-filter .form-item-use-filter {
  text-align: left;
}
@media (min-width: 992px) {
  .ride-stats .centrar-col-lg {
    margin-left:4%;
  }
}
@media (min-width: 1100px) {
  .ride-stats .centrar-col-lg {
    margin-left:3%;
  }
}
@media (min-width: 1200px) {
  .ride-stats .centrar-col-lg {
    margin-left:2%;
  }
}
@media (min-width: 1600px) {
  .ride-stats .centrar-col-lg {
    margin-left:4%;
  }
}
form.avaries-form input[name="file_upload_upload_button"] {
  margin-top: 15px;
}
.card-tarifa.card-promo {
  box-shadow: 0 0 10px 2px #c5c5c5;
  padding-bottom: 5.3rem;
}
div#promo_code {
  display: flex;
  justify-content: space-around;
}
#promo_code .form-item-promotional-code-input {
  max-width: 66%;
}
#promo_code .btn.btn-promo {
  align-self: center;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 20px;
}
.error-msg-promo {
  text-align: center;
  max-width: 70%;
  margin-top: 20px;
  margin-bottom: -25px;
}